---
layout: base
---
{% assign week = {{page.uke]}} %}
{% include weekSelector.html uke=week %}
{% include header-tipping.html type="page" %}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


      {% assign data = {{site.data.[page.resultfilename]}} %}



      <div class="col-md-12">
      	
          <div class="col-md-12">
          <table class="">
          		<tr>
          			<!--<th col-md-4>#</th>-->
          			<th class="col-md-8">Lag</th>
          			<th class="col-md-1">Pause</th>
          			<th class="col-md-1">Slutt</th>
                <th class="col-md-1">Pause</th>
                <th class="col-md-1">Slutt</th>

          		</tr>
          		{% for match in data.Matches %}

                {% assign matchNumberP = {{match[0]}} | append: '-p' %}
                {% assign matchNumberF = {{match[0]}} | append: '-f' %}

                {% assign pauseMarkering = {{match[1].PauseMarkering}}  %}
                {% assign resultatMarkering = {{match[1].ResultatMarkering}}  %}

          			<tr>

          				<td >{{match[0]}}. {{match[1].Hometeam}} -  {{match[1].Awayteam}}</td>
          				<td class="text-center">{{match[1].PauseResult}}</td>
          				<td class="text-center">{{match[1].Result}}</td>
                  <td>
                        {% include canvas-hub.html markering=pauseMarkering matchno=matchNumberP %}
                  </td>
                  <td>
                        {% include canvas-hub.html markering=resultatMarkering matchno=matchNumberF %}
                  </td>

          			</tr>
          		{% endfor %}
          	</table>
          </div>

      </div>






	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	    {% endif %}
    </div>
  </div>
</div>
